
@{
    ViewBag.Title = "upload";
}

<canvas id='myCanvas' style='position:absolute; left:0px; top:0px;' />
<link href="~/Content/Style1.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<body>
    <script>
       var cnvs = document.getElementById('myCanvas');
       cnvs.width = window.innerWidth;
        cnvs.height = window.innerHeight;
        var ctx = cnvs.getContext('2d');
        var IntervalTime = @Session["time"] * 1000;
        var hasCircle = false;
        $.post("@Url.Action("GetLine")").done(function (xml) {
            if (xml == "END") {
                clearInterval(interval);
                alert("End of Animation");
             
            }
            if (!hasCircle) {
                var xmlDoc = $.parseXML(xml),
                    $xml = $(xmlDoc),
                    Lat = $xml.find("Lat").text();
                    Lon = $xml.find("Lon").text();
                    createPoint(ctx, Lat, Lon);
                hasCircle = true;
            }


        myTimer = (function () {
        $.post("@Url.Action("GetLine")").done(function (xml) {
            if (xml == "END") {
                clearInterval(interval);
                alert("End of Animation");
            }
            if (hasCircle) {    
                createLine(ctx, Lat, Lon, xml);
            }
        });
        });

        var interval = setInterval(myTimer, IntervalTime);
    

    </script>
</body>



